<% content_for :sidebar do %>
  <%= render 'shared/side' %>
<% end %>

<main>
<h4>パスワード変更</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %>文字以上</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="input-field col s12 center">
    <%= f.submit "保存", :class => "waves-effect waves-light btn-large" %>
  </div>
<% end %>

<%= link_to "Back", :back %>
</main>
