<div id="login-form" class="row">
  <div class="col s4 offset-s4 center">
    <h4>Sign up</h4>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <%= f.hidden_field :uuid, value: cookies[:uuid] %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.email_field :email, autofocus: true %>
          <%= f.label :email %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.text_field :name, autofocus: true %>
          <%= f.label :name %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <%= f.label :password, "Password　(#{@minimum_password_length} characters minimum)" %>
          <% else %>
            <%= f.label :password %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          <%= f.label :password_confirmation %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.submit "Sign up", :class => "waves-effect waves-light btn-large" %>
        </div>
      </div>

      <div class="divider"></div>

      <%= render "devise/shared/links" %>
    <% end %>

  </div>
</div>
