<% content_for :sidebar do %>
  <%= render 'shared/side' %>
<% end %>
<main>

  <p class="lime-text text-darken-1"><%= @task.project.subject %></p>
  <h4><%= @task.subject %></h4>
  <p class="lime-text text-darken-1"><%= @task.description %></p>

  <div class="row">
    <table class="project-detail-table">
      <tr>
        <td rowspan="3">
          <table class="project-detail-table-inner">
            <tr>
              <th class="lime-text text-darken-1 icon" style="vertical-align: top; padding-top: 10px"><i class="material-icons">schedule</i></th>
              <th class="lime-text text-darken-1" style="vertical-align: top; width: 90px">作業予定日</th>
              <td>
                <ul class="no-margin date-list">
                  <% @task.schedules.each do |s| %>
                    <li class="left-align" style="position: relative">
                      <% if s.date.today? %>
                        <span class="new badge" data-badge-caption="Today" style="left: 78px; right: auto;"></span>
                      <% elsif s.date < Date.today %>
                        <span class="new badge light-blue accent-2" data-badge-caption="Past" style="left: 78px; right: auto;"></span>
                      <% end %>
                      <%= s.date.strftime("%-m月%-d日") %>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <h5>ステータス</h5>
          <span class="lime-text text-darken-1">
            <%= @task.status.display %>
          </span>
        </td>
      </tr>
      <tr>
        <td>
          <h5>所要時間</h5>
          <span class="lime-text text-darken-1">
            <%= @task.hours %>h
          </span>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <%= form_for(@task) do |f| %>
      <div class="input-field col s12">
        <%= f.select :status, options_for_select(@all_status.pluck(:display, :id), :selected => @task.status.id) %>
        <label>ステータス</label>
      </div>
      <div class="input-field col s12 right-align">
        <%= f.submit "登録", :class => "waves-effect waves-light btn-large" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= render 'form_with_times', schedules: @task.schedules %>
  </div>

  <div class="row">
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', project_tasks_path(@task.project) %>
  </div>

</main>
