<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_field :subject %>
      <%= f.label :subject, :class => "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.text_area :description, :class => "materialize-textarea" %>
      <%= f.label :description, :class => "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.date_field :start_on, min: Date.today, :class => "datepicker" %>
      <%= f.label :start_on, :class => "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.date_field :end_on, min: Date.today, :class => "datepicker" %>
      <%= f.label :end_on, :class => "active" %>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <%= f.submit "登録", :class => "waves-effect waves-light btn-large" %>
    </div>
  </div>
<% end %>
